DEBUG=on
SECRET_KEY="your-secret-key"

DATABASE_URL=psql://user:un-githubbedpassword@127.0.0.1:8458/database
#DATABASE_URL=postgres://postgres@localhost:5432/postgres

REDIS_URL=rediscache://127.0.0.1:6379/1?client_class=django_redis.client.DefaultClient&password=ungithubbed-secret
#REDIS_URL=redis://localhost:6379/0


YOOKASSA_SHOP_ID=...
YOOKASSA_SECRET_KEY=...
# Код НДС (1 - без НДС)
YOOKASSA_VAT_CODE=1


EMAIL_HOST="your-host.com"
#EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465
EMAIL_HOST_USER="your@info.com"
EMAIL_HOST_PASSWORD="your-host-password"
