{% load format_text %}
{% for item in contents %}
<div id="{{ item.content_type }}-{{ item.content.id }}"
     x-data="{ id: '{{ item.content_type }}-{{ item.content.id }}' }"
     x-intersect="activeContent = id"
     x-init="gsap.from($el, { opacity: 0, y: 30, duration: 0.5 })"
     style="opacity: 1 !important;">
    {% if item.content_type == 'block' %}
    <h2 class="text-lg sm:text-2xl font-semibold text-white mb-3">{{ item.content.title }}</h2>
    <div class="prose prose-invert text-sm sm:text-base" style="opacity: 1 !important; overflow-x: auto;">{{ item.content.content | format_text | safe }}</div>
    {% else %}
    <div class="ml-3 sm:ml-4 mt-2 sm:mt-3">
        <h3 class="text-base sm:text-xl font-medium text-white mb-2">{{ item.content.title }}</h3>
        <div class="prose  text-sm sm:text-base" style="opacity: 1 !important; overflow-x: auto;">{{ item.content.content | format_text | safe }}</div>
    </div>
    {% endif %}
</div>
{% endfor %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const target = document.querySelector('#{{ target_id }}');
        if (target) {
            target.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    });
</script>