{% extends "base.html" %}
{% load i18n %}

{% block title %}Сообщение отправлено{% endblock %}

{% block content %}
    <div class="min-h-screen bg-slate-900 pt-20">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center mb-8">
                <h1 class="text-3xl font-bold text-white orbitron-font soft-neon-text mb-2">
                    Сообщение отправлено
                </h1>
                <p class="text-slate-400">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
                <p class="text-slate-400">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
            </div>
        </div>
    </div>
{% endblock %}
