{% extends "base.html" %}
{% load i18n %}

{% block title %}Сброс завершен{% endblock %}

{% block content %}
    <div class="min-h-screen bg-slate-900 pt-20 ">
        <div class="max-w-md mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center mb-8">
                <h1 class="text-3xl font-bold text-white orbitron-font soft-neon-text mb-2">
                    Сброс завершен
                </h1>
                <p class="text-slate-400">Ваш пароль был успешно сохранен.</p>
                <p class="text-slate-400">Теперь можете войти используя новый пароль.</p>
            </div>

        </div>
    </div>
{% endblock %}
