{% extends "base.html" %}
{% load static %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
    {% include 'users/login_pattern.html' %}
    {% if validlink %}
        <div class="min-h-screen bg-slate-900 pt-20 login-pattern">
            <div class="max-w-md mx-auto px-4 sm:px-6 lg:px-8">
                <div class="text-center mb-8">
                    <h1 class="text-3xl font-bold text-white orbitron-font soft-neon-text mb-2">
                        Новый пароль
                    </h1>
                    <p class="text-slate-400">Введите новый пароль</p>
                </div>
                <div class="bg-slate-800/50 backdrop-blur-md rounded-2xl p-8 soft-neon-border">
                    <form method="post" class="space-y-3">
                        {% csrf_token %}

                        <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">

                        {% for f in form %}
                            {% if f.name in "new_password1, new_password2" %}
                                {% include 'form_field.html' with field=f %}
                            {% endif %}
                        {% endfor %}
                        <button type="submit"
                                class="w-full bg-emerald-600 hover:bg-emerald-500 text-white font-bold py-3 px-4 rounded-lg transition duration-300 transform hover:scale-[1.02] soft-neon-glow">
                            <i class="fas fa-sign-in-alt mr-2"></i>
                            Изменить пароль
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="min-h-screen bg-slate-900 pt-20 login-pattern">
            <div class=" mx-auto px-4 sm:px-6 lg:px-8">
                <div class="text-center mb-8">
                    <h1 class="text-3xl font-bold text-white orbitron-font soft-neon-text mb-2">
                        Invalid Link
                    </h1>
                    <p class="text-slate-400">Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась.</p>
                    <p class="text-slate-400">Пожалуйста, запросите новый сброс пароля.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}



